websocket-client==1.6.4
accelerate==0.23.0
opencv-python
torch
torchsde
torchvision
einops
transformers>=4.25.1
safetensors>=0.3.0
aiohttp
pyyaml
pillow
psutil
kornia>=0.7.1
insightface
onnxruntime
segment-anything
scikit-image
piexif
opencv-python-headless
GitPython
scipy>=1.11.4
gitdb
ultralytics!=8.2.5
fastapi
requests