fastapi
requests
uvicorn
websocket-client==1.6.4
accelerate==0.23.0
torch 
torchsde
torchvision
torchaudio
einops
transformers>=4.28.1
tokenizers>=0.13.3
sentencepiece
safetensors>=0.4.2
aiohttp
pyyaml
Pillow
scipy
tqdm
psutil
aiohttp
onnxruntime-gpu
insightface
numba
firebase_admin
#non essential dependencies:
kornia>=0.7.1
spandrel
soundfile
pydantic
python-multipart